@use "global" as *;

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.breadcrumb__list a {
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $regular;
  color: $black;
}
.breadcrumb__list li:not(:last-of-type)::after {
  content: "›";
  margin: 0 0.6em;
  color: $black;
}
