@use "global" as *;
.campaign {
  margin-top: rem(36);
  overflow: hidden;
  @include mq("md") {
    margin-top: rem(110);
    padding-left: 0;
  }
}

.campaign__title__wrap {
  // position: relative;
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(1080);
    margin-inline: auto;
  }
}
.campaign__arrow__wrap {
  display: none;
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    gap: rem(81);
    margin-top: rem(-67);
    padding-right: calc(50% - min(48.5vw, 39.75rem));
  }
}

.campaign__left__button {
  background: url(/assets/images/common/left__arrow.png) center center / contain
    no-repeat;
  width: rem(80);
  height: rem(80);
  aspect-ratio: 1/1;
}

.campaign__right__button {
  background: url(/assets/images/common/right__arrow.png) center center /
    contain no-repeat;
  width: rem(80);
  height: rem(80);
  aspect-ratio: 1/1;
  max-width: rem(80);
}

.swiper-button-next,
.swiper-button-prev {
  @include mq("md") {
    position: inherit;
    margin-top: 0;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.campaign__card__inner {
  padding-left: $padding-sp;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;

  width: 100%;
}

.campaign__card__container {
  display: flex;
  flex-wrap: wrap; /* カードを横並びにしつつ折り返しを許可 */
  gap: rem(24); /* カード間のスペース */
  width: 100vw;
  margin-right: calc(50% - 50vw);
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(23);
  }
}
.swiper {
  margin-left: 0;
}

.campaign-swiper-slide {
  margin-bottom: rem(14);
  margin-right: rem(24);
  max-width: rem(280);
  width: 100%;
  height: initial;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    width: 23.125%;
    min-width: rem(333);
    margin-right: rem(40);
  }
}

.campaign__card {
  width: rem(280); /* カードの幅を固定 */
  display: flex;
  flex-direction: column; /* 縦に要素を積み上げる */
  flex-grow: 1; /* カードを可能な限り同じ高さに引き伸ばす */
  position: relative;
  height: 100%;
  @include mq("md") {
    width: rem(333);
  }
}

.campaign__card a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.campaign__card__img {
  overflow: hidden;
  z-index: 1;
  position: relative;
  object-fit: cover;
  height: auto;
  aspect-ratio: 280 / 188;
  width: 100%;
  transition: transform 0.8s;

  @include mq("md") {
    aspect-ratio: 333 / 223;
  }
}
.campaign__card__img img {
  aspect-ratio: 280 / 188;
  object-fit: cover;
  height: auto;
  width: 100%;
}

@include mq("md") {
  .campaign__card:hover > a > figure > img {
    transform: scale(1.2);
    transition: transform 0.8s;
  }
}

.campaign__card__body {
  width: 100%;
  padding: rem(16) rem(16) rem(19);

  display: flex;
  flex-direction: column;
  flex: 1;

  @include mq("md") {
    padding: rem(22) rem(16) rem(28);
  }
}

.campaign__card__title__wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.campaign__card__category {
  color: $blue;
  font-size: rem(12);
  font-weight: $regular;
  font-family: $base-font-family;
  border: solid 1px $blue;
  text-align: center;
  align-content: center;
  height: rem(30);
  max-width: rem(107);
  @include mq("md") {
    height: rem(34);
    max-width: rem(115);
  }
}

.campaign__card__title {
  font-size: rem(16);
  font-weight: $medium;
  font-family: $base-font-family;
  color: $black;
  margin-top: rem(4);
  padding-bottom: rem(8);
}

.campaign__card__text__wrap {
  text-align: center;
  padding-top: rem(8);
  border-top: 1px solid $blue;
  display: flex;
  flex-direction: column;
  @include mq("md") {
    padding-top: rem(16);
    padding-right: rem(20);
  }
}

.campaign__card__text {
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  color: $black;
  @include mq("md") {
    font-size: rem(16);
  }
}

.campaign__card__price__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.campaign__card__subprice {
  color: #c94800;
  text-decoration: line-through;
  text-decoration-thickness: rem(3);
}
.campaign__card__subprice span {
  font-family: "Lato", sans-serif;
  font-size: rem(20);
  font-weight: $bold;
  color: $black;
  margin-left: rem(19);
  line-height: 2.4;
  @include mq("md") {
    font-size: rem(24);
    margin-left: rem(17);
  }
}

.campaign__card__price {
  font-family: "Lato", sans-serif;
  font-size: rem(32);
  font-weight: $bold;
  color: $blue;
  margin-right: rem(18);

  @include mq("md") {
    font-size: rem(40);
    margin-right: 0;
  }
}

.campaign__button {
  margin-top: rem(24);
  text-align: center;
  padding-bottom: rem(3);
  @include mq("md") {
    margin-top: rem(67);
  }
}
