@use "global" as *;
.footer {
  background-color: $blue;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}
.footer__logo__warp {
  @include mq("md") {
    display: flex;
    align-items: flex-end;
  }
}

.footer__logo {
  width: rem(120);
  @include mq("md") {
    width: rem(200);
    margin-left: rem(9);
    margin-right: rem(44);
  }
}

.footer__icon__contents {
  padding-top: rem(16);
  display: flex;
  gap: rem(16);
  @include mq("md") {
    padding-bottom: rem(6);
    padding-top: 0;
  }
}
.footer__icon__contents img {
  aspect-ratio: 1/1;
  width: rem(24);
  @include mq("md") {
    width: rem(30);
  }
}
.footer-nav.footer-nav {
  @include mq("md") {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}

.footer-nav__contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include mq("md") {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer-nav__items {
  width: 100%;
  margin-top: rem(36);
  @include mq("md") {
    margin-top: rem(20);
  }
}
.footer-nav__item {
  color: $white;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  padding-left: rem(24);
  @include mq("md") {
    padding-left: rem(32);
  }
}

.footer-nav__item:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.is-sp {
  display: block;
}
.footer-nav__item:not(:first-child) {
  margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(19);
  }
}

.footer-nav__category {
  font-weight: bold;
  padding-left: rem(2);
  display: flex;
  @include mq("md") {
    padding-left: rem(11);
    text-wrap: nowrap;
  }
}

.footer-nav__category img {
  width: rem(17);
  aspect-ratio: 1/1;
  margin-right: rem(3);
  margin-top: rem(3);
}

.footer-nav__category:not(:first-child) {
  margin-top: rem(37);
  line-height: 1.2;
  @include mq("md") {
    margin-top: rem(34);
  }
}
.footer-nav__items_1 {
  order: 1;
}
.footer-nav__items_2 {
  order: 3;
  margin-top: rem(35);
  @include mq("md") {
    order: 2;
    padding-left: rem(12);
  }
}
.footer-nav__items_3 {
  order: 2;
  margin-top: rem(36);
  padding-left: rem(11);
  @include mq("md") {
    padding-left: rem(6);
    order: 3;
  }
}
.footer-nav__items_4 {
  order: 4;
  margin-top: rem(36);
  padding-left: rem(11);
  @include mq("md") {
    padding-left: rem(1);
  }
}

.is-sp {
  display: block;
  @include mq("md") {
    display: none;
  }
}

.footer__copyright {
  margin-top: rem(39);
  font-family: $english-font-family;
  color: $white;
  text-align: center;
  font-size: rem(12);
  line-height: calc(18 / 12);
  @include mq("md") {
    margin-top: rem(75);
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}
