@use "global" as *;

.form {
  font-size: rem(16);
  font-family: $base-font-family;
  width: 100%;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: rem(15);
  padding-bottom: rem(22);
  border-bottom: 1px dotted $blue;
  width: 100%;
  @include mq("md") {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    padding-bottom: rem(40);
    gap: rem(10);
  }
}
.form__group:not(:first-child) {
  margin-top: rem(23);
  @include mq("md") {
    margin-top: rem(39);
  }
}
.form__group--cam.form__group--cam {
  padding-bottom: rem(25);
  @include mq("md") {
    margin-top: rem(34);
    padding-bottom: rem(39);
  }
}
.form__group--check {
  @include mq("md") {
    padding-bottom: rem(39);
  }
}
//タイトル
label {
  display: block;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
}
//必須
.required {
  background-color: #c94800;
  color: $white;
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $regular;
  padding: rem(2) rem(18);
  margin-left: rem(3);
}
::placeholder {
  color: $light-blue;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  color: $black;
}

input,
textarea,
select {
  width: 100%;
  padding: rem(8) rem(15);
  font-size: rem(16);
  border: 1px solid $blue;
  box-sizing: border-box;
  @include mq("md") {
    max-width: rem(482);
    padding: rem(7) rem(16);
  }
}

textarea {
  resize: vertical;
  height: rem(202);
  box-sizing: border-box;
  color: $black;
  @include mq("md") {
    height: rem(199);
  }
}
select {
  font-size: rem(12);
  font-weight: $regular;
  color: $black;
  padding: rem(11) rem(8);
  @include mq("md") {
    padding: rem(6) rem(8);
  }
}

.checkbox-group {
  margin-top: rem(1);
  width: 100%;
  max-width: rem(400);
  font-size: rem(16);
  color: $black;
  font-family: $regular;
  font-family: $base-font-family;
  @include mq("md") {
    max-width: rem(482);
    margin-top: rem(4);
  }
}
.checkbox-group label {
  display: flex;
  font-weight: $regular;
  align-items: center;
  gap: rem(6);
  @include mq("md") {
    gap: rem(9);
  }
}

.checkbox-group label:not(:first-child) {
  margin-top: rem(3);
}
.checkbox-group input,
.form__group--pr input {
  padding: 0;
  margin: 0;
}
input[type="checkbox"] {
  display: flex;
  position: relative;
  width: rem(14);
  height: rem(14);
  border: 1px solid $blue;
  cursor: pointer;
}

input[type="checkbox"]:checked:before {
  position: absolute;
  top: rem(1);
  left: rem(3);
  transform: rotate(50deg);
  width: rem(5);
  height: rem(10);
  border-right: 2px solid #c94800;
  border-bottom: 2px solid #c94800;
  content: "";
}
.form__group-title {
  @include mq("md") {
    display: flex;
    justify-content: flex-end;
  }
}
.form__group-title {
  position: relative;
}

//選択ボタン、下向きの三角
.form__group-title::before {
  content: "";
  position: absolute;
  height: rem(20);
  left: rem(326);
  top: rem(51);
  border-style: solid;
  border-right: rem(5) solid transparent;
  border-left: rem(5) solid transparent;
  border-top: rem(10) solid $blue;
  border-bottom: 0;
  width: rem(3);
  border-bottom: 0;
  @include mq("md") {
    left: rem(680);
    top: rem(12);
    border-style: solid;
    border-right: rem(5) solid transparent;
    border-left: rem(5) solid transparent;
    border-top: rem(9) solid $blue;
    border-bottom: 0;
    width: rem(3);
  }
}

.form__group--pr label {
  display: flex;
  justify-content: center;
  color: $black;
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  gap: rem(11);
  width: rem(300);
  margin-inline: auto;
  cursor: initial;
  @include mq("md") {
    width: rem(373);
    gap: rem(12);
  }
}
.form__group-box--pr[type="checkbox"] {
  display: flex;
  position: relative;
  width: rem(27);
  height: rem(22);
  border: 1px solid $blue;
  margin-left: rem(7);
  cursor: pointer;
  @include mq("md") {
    margin-left: 0;
    width: rem(22);
  }
}

.form__group-box--pr[type="checkbox"]:checked:before {
  position: absolute;
  top: rem(4);
  left: rem(6);
  transform: rotate(50deg);
  width: rem(5);
  height: rem(10);
  border-right: 2px solid #c94800;
  border-bottom: 2px solid #c94800;
  content: "";
}

.form__button {
  text-align: center;
  margin-top: rem(26);
  @include mq("md") {
    margin-top: rem(38);
  }
}
