@use "global" as *;
.gallery__photo-wrapper {
  margin-top: rem(42);
  display: flex;
  flex-direction: column;
  gap: rem(8);
  @include mq("md") {
    margin-top: rem(82);
  }
}

.gallery__photo-container {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  @include mq("md") {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 5rem;
  }
}
.gallery__photo {
  grid-column: span 5;
  grid-row: span 1;
}
.gallery__photo--big {
  grid-column: span 4;
  grid-row: span 2;
}

.gallery__photo--big img {
  width: 100%;
  height: 100%;
}

.gallery__photo {
  cursor: pointer;
}
