@use "global" as *;

.header {
  height: rem(80);
  background-color: rgb(13, 41, 54, 0.68);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @include mq("md") {
    height: rem(92);
  }
}
.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding-right: rem(15);
  padding-left: rem(15);
  align-items: center;
  @include mq("md") {
    padding-right: rem(40);
    padding-left: rem(40);
  }
}

.header__link {
  align-items: center;
  display: flex;
  height: inherit;
  width: rem(102);
  @include mq("md") {
    width: rem(133);
  }
}


.header__logo {
  width: rem(102);
  aspect-ratio: 102/38;
  position: relative;
  z-index: 999;
  @include mq("md") {
    width: rem(133);
    aspect-ratio: 133/50;
  }
}
.header__pc-nav {
  display: none;
  @include mq("md") {
    display: block;
  }
}
.header__drawer {
  @include mq("md") {
    display: none;
  }
}
