@use "global" as *;

.notfound {
  background-color: $blue;
  box-shadow: 1px 0 0 $blue;
  padding-top: rem(151);
  padding-bottom: rem(40);
  position: relative;
  z-index: -1;
  @include mq("md") {
    padding-top: rem(205);
    padding-bottom: rem(148);
  }
}

.notfound::before {
  position: absolute;
  content: "";
  width: rem(345);
  height: rem(345);
  left: calc(50% - min(48.5vw, rem(172)));
  top: rem(82);
  background: url(../../assets/images/common/whale.png) center center / contain
    no-repeat;
  z-index: 1;
  @include mq("md") {
    width: rem(698);
    height: rem(698);
    left: calc(50% - min(48.5vw, rem(541)));
    top: rem(94);
  }
}

.notfound__text-wrap {
  text-align: center;
  position: relative;
  z-index: 3;
  margin-top: rem(73);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.notfound__title {
  font-size: rem(76);
  font-weight: 400;
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  letter-spacing: rem(42);
  text-indent: rem(38);

  @include mq("md") {
    font-size: rem(173);
    letter-spacing: rem(70);
    text-indent: rem(70);
  }
}

.notfound__text {
  font-size: rem(16);
  font-weight: $regular;
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: rem(-13);
}

.notfound__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
.notfound__footer {
  margin-top: rem(-1);
  @include mq("md") {
    margin-top: rem(-1);
  }
}
.notfound__footer.notfound__footer {
  padding-top: rem(54);
  @include mq("md") {
    padding-top: rem(88);
  }
}
