@use "global" as *;

.page-information__tags-container {
  gap: rem(19);
  display: flex;
  @include mq("md") {
    gap: rem(16) rem(88);
  }
}

.page-information__tag {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #408f95;
  background-color: $light-blue;
  cursor: pointer;
  font-size: rem(14);
  text-align: center;
  font-weight: $regular;
  line-height: 1.571;
  padding: rem(10) rem(0);
  position: relative;
  text-align: center;
  transition: 0.3s ease;
  width: 100%;
  @include mq("md") {
    font-size: rem(24);
    max-width: rem(300);
    padding: rem(24) rem(3) rem(24) rem(87);
  }
}
.page-information__tag::before {
  @include mq("md") {
    position: absolute;
    content: "";
    width: rem(64);
    height: rem(64);
    left: rem(29);
    top: rem(10);
    background-size: contain;
    background: url(../../assets/images/common/giji_1_blue.png);
  }
}
.page-information__tag:nth-child(2)::before {
  @include mq("md") {
    background-image: url(../../assets/images/common/giji_2_blue.png);
    left: rem(20);
  }
}
.page-information__tag:nth-child(3)::before {
  @include mq("md") {
    background-image: url(../../assets/images/common/giji_3_blue.png);
    left: rem(32);
  }
}

.page-information__tag:hover {
  color: $white;
  background: $blue;
  transition: 0.3s ease-in-out;
}


.page-information__tag:hover::before {
  position: absolute;
  content: "";
  z-index: 5;
  top: rem(10);
  background: url(../../assets/images/common/giji_1.png);
  height: rem(64);
  left: rem(20);
  width: rem(64);
  background-size: contain;
}
.page-information__tag:nth-child(2):hover::before{
  background: url(../../assets/images/common/giji_2.png);
  height: rem(64);
  left: rem(20);
  width: rem(64);
  background-size: contain;
}
.page-information__tag:nth-child(3):hover::before {
  background: url(../../assets/images/common/giji_3.png);
  height: rem(64);
  left: rem(32);
  width: rem(64);
  background-size: contain;
}
.page-information__container {
  margin-top: rem(13);
  @include mq("md") {
    margin-top: rem(25);
  }
}

.page-information__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(5);
  padding: rem(19) rem(24);
  border: 1px solid $blue;
  @include mq("md") {
    flex-direction: initial;
    padding: rem(24) rem(24);
    gap: rem(48);
  }
}

.page-information__text-wrap {
  max-width: rem(492);
}

.page-information__title {
  color: $black;
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $bold;
  border-bottom: 1px solid $blue;
  margin-bottom: rem(12);
}

.page-information__text {
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
}

.page-information__photo {
  width: rem(297);
  @include mq("md") {
    width: rem(492);
  }
}

.page-information__contact {
  margin-top: rem(108);
  @include mq("md") {
    margin-top: rem(141);
  }
}
.page-information__footer {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(160);
  }
}
