@use "global" as *;

.page-campaign {
  margin-top: rem(83);
  position: relative;
  @include mq("md") {
    margin-top: rem(178);
  }
}
.page-campaign::before {
  position: absolute;
  content: "";
  width: rem(120);
  height: rem(55);
  left: rem(15);
  top: rem(-24);
  background: url(../../assets/images/common/decoration_3.png) center center /
    contain no-repeat;
  @include mq("md") {
    left: calc(50% - min(48.5vw, rem(621)));
    top: rem(-70);
    width: rem(301);
    height: rem(138);
  }
}

.page-campaign__tags-container {
  // flex-wrap: wrap;
  gap: rem(16) rem(32);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include mq("md") {
    display: flex;
  }
}

.page-campaign__tag {
  border: 0.0625rem solid currentColor;
  color: #408f95;
  background-color: $white;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.571;
  max-width: rem(162);
  padding: rem(6) 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease;
  width: 100%;
}

.page-campaign__tag:hover {
  color: $white;
  background: $blue;
  transition: 0.3s ease-in-out;
}
.page-campaign__layout {
  margin-top: rem(56);
  @include mq("md") {
    margin-top: rem(39);
  }
}
.page-campaign__cards {
  margin-inline: auto;
  // width: 100%;
  width: rem(280);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq("md") {
    width: 100%;
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(2, 1fr);
  }
}
.page-campaign__card {
  //ブロック
  // width: rem(280); /* カードの幅を固定 */
  // display: flex;
  // flex-direction: column; /* 縦に要素を積み上げる */
  // flex-grow: 1; /* カードを可能な限り同じ高さに引き伸ばす */
  // position: relative;
  // height: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  // @include mq("md") {
  //   width: rem(520);
  // }
}

.page-campaign__contact {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(100);
  }
}
.page-campaign__footer {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(160);
  }
}

.page-campaign__pagination {
  margin-top: rem(33);
  // margin-top: rem(67);
  // text-align: center;
}
.pagination {
  display: flex;
  gap: rem(12);
  justify-content: center;
}

.pagination__button {
  color: $blue;
  float: left;
  width: rem(38);
  height: rem(38);
  // align-items: center;
  display: grid;
  place-items: center;
  // padding: 6px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid $blue;
  // margin: 0 6px;
}
.pagination__button--prev {
  margin-right: rem(20);
  margin-left: 0;
  color: $blue;
  float: left;
  // padding: 6px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid $blue;
}
.pagination__button--next {
  margin-left: rem(20);
  margin-right: 0;
  color: $blue;
  float: left;
  // padding: 6px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid $blue;
}
.pagination a.active {
  background-color: $blue;
  color: $white;
  border: 1px solid $blue;
  font-family: "Lato", sans-serif;
  font-size: rem(16);
  font-weight: $bold;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
// .pagination a{
//   font-family: "Lato", sans-serif;
//   font-size: rem(16);
//   font-weight: $bold;
//   color: $blue;
// }
