@use "global" as *;

.page-blog__contact {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(100);
  }
}
.page-blog__footer {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(160);
  }
}
