@use "global" as *;

.price-list {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    display: flex;
    flex-direction: initial;
  }
}

.price__table {
  border: 1px solid $blue;
  border-collapse: collapse;
  max-width: rem(700);
  width: 100%;
  font-weight: $regular;
  color: $black;
  font-size: rem(16);
  line-height: 1.5;
  height: 100%;
}

.price__table,
.price__table tr,
.price__table td {
  box-sizing: border-box;
}
.price-list__title {
  padding: rem(9) rem(30);
  width: 100%;
  background-color: #408f95;
  color: #fff;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  gap: rem(8);
  align-items: center;
  justify-content: center;
  height: rem(40);
  @include mq("md") {
    flex-direction: column;
    padding: 0;
    width: rem(279);
    height: initial;
  }
}

.price-list__title::before {
  background-image: url(../../assets/images/common/giji_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(24);
  width: rem(24);
  @include mq("md") {
    order: 1;
    height: rem(64);
    width: rem(64);
  }
}
.price__table tr,
.price__table td {
  height: rem(60);
  @include mq("md") {
    height: rem(59);
  }
}
.price-list__sub-title {
  text-align: center;
  width: rem(300);
  padding: rem(0) rem(15);
  border: 1px solid $blue;
  border-collapse: collapse;
  @include mq("md") {
    text-align: initial;
    padding: rem(0) rem(13);
  }
}

.price__price {
  width: rem(108);
  text-align: end;
  padding: rem(0) rem(15);
  border: 1px solid $blue;
  border-collapse: collapse;
  font-weight: $regular;
  @include mq("md") {
    width: rem(145);
  }
}
