@use "global" as *;

.price {
  margin-top: rem(84);
  background-color: $light-blue;
  @include mq("md") {
    margin-top: rem(147);
    position: relative;
  }
}
.price::after {
  @include mq("md") {
    position: absolute;
    content: "";
    width: 30.5%;
    height: rem(201);
    left: calc(50% - min(48.5vw, rem(620)));
    bottom: rem(58);
    z-index: 1;
    background: url(../../assets/images/common/decoration_5.png) center center /
      contain no-repeat;
  }
}

.price__inner {
  padding-top: rem(75);
  padding-bottom: rem(84);
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  margin-inline: auto;
  @include mq("md") {
    padding-top: rem(87);
    padding-bottom: rem(104);
    max-width: rem(1130); //1080+25+25
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
}
.price__container {
  margin-top: rem(29);
  display: flex;
  flex-direction: column-reverse;
  max-width: rem(600);
  margin-inline: auto;
  @include mq("md") {
    margin-top: rem(38);
    flex-direction: initial;
    justify-content: space-between;
    max-width: rem(1080);
  }
}
.price__list__contents {
  @include mq("md") {
    width: 45.72%;
  }
}
.price__list {
  color: $black;
  font-family: $base-font-family;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
  }
}
.price__list:not(:first-child) {
  margin-top: rem(42);
  @include mq("md") {
    margin-top: rem(41);
  }
}

.price__list__title {
  font-weight: $bold;
  font-size: rem(16);
  line-height: 1.6;
  border-bottom: 1px solid $blue;
}
.price__items {
  display: flex;
  justify-content: space-between;
}
.price__list dt {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
  margin-top: rem(8);
  margin-right: rem(10);
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}
.price__list dd {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
  margin-top: rem(8);
  @include mq("md") {
    font-size: rem(17);
    line-height: 1.4;
  }
}

.price__photo {
  overflow: hidden;
  z-index: 1;
  position: relative;
  object-fit: cover;
  height: auto;
  width: 100%;
  aspect-ratio: 345 / 227;
  @include mq("md") {
    width: 45.8%;
    aspect-ratio: 492 / 746;
    max-width: rem(746);
    margin-top: rem(-2);
  }
}


.praice__photo img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
  height: auto;
  width: 100%;
  @include mq("md") {
    aspect-ratio: 492 / 746;
  }
}

.price__button {
  margin-top: rem(39);
  text-align: center;
  @include mq("md") {
    margin-top: rem(78);
  }
}
